@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeui.ttf");
    font-weight: 100;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/seguisb.ttf");
    font-weight: 500;
}

@font-face {
    font-family: segoeu;
    src: url("../assets/fonts/segoeuib.ttf");
    font-weight: 800;
}

html,
body {
    -webkit-user-select: none;
    user-select: none;
    font-family: "segoeu";
    font-weight: 100;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: #f4f4f4;
}

/* טוען */
.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f4f4f45d;
    font-size: 2em;
    font-weight: 800;
}

.open-screen {
    position: relative;
    /* top:15%; */
    z-index: 2;
    text-align: center;
    font-size: 1.3rem;
    background-color: #7a0101;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}

.btnNext {
    bottom: 10%;
    position: absolute;
    width: 40%;
    font-size: 1.3rem;
    border-radius: 10px;
    color: rgb(62, 61, 61);
    border: none;
    background-color: rgb(230, 229, 229);
    height: 8%;
}

.text-screen {
    padding: 0% 10%;
}

.loader>img {
    width: 50vw;
}

.loader.fade {
    animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


/* צבעים */
.blue {
    /* filter: hue-rotate(140deg); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.lightGreen {
    /* filter: hue-rotate(30deg); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.teal {
    /* filter: hue-rotate(110deg); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.purple {
    /* filter: hue-rotate(205deg); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.yellow {
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
    /* filter: hue-rotate(0deg); *
}

.orange {
    /* filter: hue-rotate(320deg); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.darkGreen {
    /* filter: hue-rotate(80deg); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.pink {
    /* filter: hue-rotate(280deg); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.gray {
    /* filter: grayscale(100); */
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.red {
    filter: hue-rotate(301deg) brightness(29%) saturate(5);
}

.sub-titles {
    font-weight: bold;
    padding-top: 1em;
}

/* חלק עליון */
.topButton {
    width: 18vw;
    position: absolute;
    top: 8vh;
    left: 9vw;
}

.titleConeiner {
    color: #f4f4f4;
    font-weight: 800;
    font-size: 2rem;
    position: absolute;
    top: 0vh;
    right: 1vw;
    width: 53vw;
    text-align: center;
    height: 15vh;
}

.title {
    /* width: 53vw; */
    /* font-size: 2rem; */
    position: absolute;
    top: 50%;
    padding: 2% 20%;
    transform: translateY(-50%);
    right: 1vw;
}

.titleMedShelfs {
    font-size: 0.55em;
    right: 13vw;
}

.titelMedId {
    right: 1vw;
    font-size: 0.6em;
}

/* חיפוש */
.searchBoxHolder {
    width: 73vw;
    position: absolute;
    top: 8vh;
    left: 3vw;
    z-index: 2;
}

.searchBox {
    width: 52vw;
    border-radius: 10vw;
    position: absolute;
    top: 9.7vh;
    left: 20vw;
    border: none;
    background-color: #f4f4f4;
    padding-bottom: 1em;
    padding-top: 1em;
    direction: ltr;
    font-family: "segoeu";
    text-align: center;
    z-index: 2;
    outline: none;
}

.searchBox:focus {
    outline: none;
    top: 11vh;
}

.dropDown {
    pointer-events: none;
    width: 73vw;
    height: 63vh;
    position: absolute;
    left: 3vw;
    top: 23vh;
    overflow-y: scroll;
}

.dropDownItem {
    width: 73vw;
    height: 7vh;
    border-radius: 20vw;
    text-align: center;
    padding-top: 0.4em;
    margin-top: 0.1em;
    background-color: #f4f4f4;
}

.darkScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    top: 0;
}

/* אודות */
.aboutButton {
    width: 7vw;
    position: absolute;
    top: 2vh;
    left: 3vw;
}

.aboutPage {
    padding: 1vh 4vw;
    height: 67vh;
    width: 92vw;
    position: absolute;
    top: 20vh;
    overflow: hidden;
}

.aboutHeadline {
    width: 20vw;
    color: #000000;
    display: block;
    margin: auto;
    font-weight: 800;
    font-size: 2em;
    position: relative;
    top: -1vh;
    left: 5vw;
}

.logos {
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 55vh;
}

.logos>img {
    width: 21vw;
}

/* כתורים של תרופות ששולחים ללומדות */
.mainPageButton {
    background-color: white;
    border-radius: 0.8em;
    height: 15vh;
    width: 86vw;
    margin: auto;
    margin-top: 2em;
    text-align: center;
    font-weight: 500;
    font-size: 1.35em;
    color: #474545;;
    display: flex;
    align-items: center;
    padding-inline: 4%;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.name-table {
    text-align: center;
    padding: -4% 5%;
    font-size: 1.2rem;
}

.homePageButtonsScroll::-webkit-scrollbar {
    display: none;
}

.medHeadline {
    width: 60vw;
    position: relative;
    left: 0vw;
}

.td-tabel {
    text-align: center;
    font-size: 1rem;
    padding: 0% 0%;
    width: 40%;
}

.text-tab {
    background-color: #7a0101;
    color: white;
    text-align: center;
    width: 50%;
    font-size: 1.1rem;
    position: relative;
    top: 40%;
    height: 20%;
    transform: rotate(270deg);
    padding: 0% 2%;
}

.picLeft {
    margin-left: 2vw;
}

.mainPagePic {
    width: 30%;
    margin-right: 2vw;
}

.homePageButtonsScroll {
    overflow-y: scroll;
    height: 62vh;
    margin-top: -0.5em;
}

.testButton {
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

/* תעודת זהות של תרופות */
.medicineId {
    pointer-events: none;
    padding: 1vh 4vw;
    height: 65vh;
    width: 92vw;
    position: absolute;
    top: 22vh;
    overflow-y: scroll;
}

.medicineId::-webkit-scrollbar {
    display: none;
}

.pic {
    /* width: 42vw; */
    height: 23vh;
    position: absolute;
    left: 5vw;
}

.idNextToPic {
    width: 42vw;
}

/* מדפים של תרופות */
.downButton {
    width: 8vw;
    position: absolute;
    left: 2vw;
    top: 1vh;
}

.shelfs {
    width: 100vw;
    background-color: white;
    height: 8vh;
    margin-top: 1em;
}

.shelf {
    position: relative;
    top: 4vh;
}

.shelfHedline {
    position: relative;
    top: 2vh;
    font-weight: 500;
    font-size: 1rem;
    padding-right: 1em;
}

.shelfsdropDown {
    padding: 0 1em;
    font-size: 1.1em;
}

.shelfMedPic {
    height: 7vh;
    padding: 0.5em;
    padding-right: 0.1em;
}

.shelfMedPicContainer {
    background-color: white;
    height: fit-content;
    border-radius: 1em;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1em;
    direction: rtl;
    padding: 6% 20%;
    text-align: center;
}

.shelfPicSection {
    padding-top: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.medShelf {
    height: 62vh;
    overflow-y: scroll;
    margin-top: 0.5em;
}

.medShelf::-webkit-scrollbar {
    display: none;
}

.medTypeSymbol {
    width: 17vw;
    position: fixed;
    top: 2.5vh;
    left: 80vw;
}

.shelfsButtons {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
}

.buttons {
    width: 25vw;
}

.homeButton {
    width: 10vw;
    position: absolute;
    right: -15vw;
    bottom: 0vh;
}

.introductionText {
    padding: 1% 10%;
    font-weight: 800;
    text-align: center;
    font-size: 1.1rem;
}

.introdText {
    text-align: center;
}

.impText {
    padding: 3%;
    background-color: #7a0101;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonInList {
     display: inline-block;
    padding: 2% 3%;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: rgb(0 0 0);
    background-color: #aaabaa75;
    border-radius: 5px;
    /* border: 2px solid #aaabaa00; */
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.buttonText {
    text-align: center;
   position: relative;
}

.buttonText::after {
    content: '👆🏻';
    /* content: "&#9757;&#127995"; */
    position: absolute;
    bottom: -1rem;
    /* left: 0; */
    right: 0;
    font-size: 1.5rem;
    transform: rotate(330deg);
}

.btnDown {
    text-align: center;
    position: relative;
    right: 24vw;
    align-content: center;
}

.div-text {
    text-align: center;
}

.mahaz-div {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    border-bottom: solid 1.5px #000000;
}

/* .shelfButton { */
/* font-weight: 500; */
/* box-shadow: 5px 5px 11px rgba(0, 0, 0, 0.5), 0px 0px 1px rgb(0 0 0 / 50%); */
/* color: aliceblue;
    font-size: 1.1rem;
    border-radius: 1vw;
    width: 50%; */
/*   
} */

.div-conclustion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0% 10% 5%;
    font-size: 1.3rem;
}

.big-list {
    font-weight: 500;
    font-size: 1rem;
    top: 10%;
    position: relative;
}

.searchButton[src="../assets/images/grapics/home-page/search-button.svg"] {
    display: none;
    pointer-events: none;
}

.testBtn {
    background-color: #bc0505;
    color: #fcfcfc;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    width: 50%;
    bottom: 1vh;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    border: none;
    padding-block: 1%;
}

.img-screen {
    position: absolute;
    top: 2%;
    right: 72%;
}

.signBahd10 {
    width: 35%;
}

.signForce {
    width: 50%;
}

.href-div {
    display: flex;
    justify-content: center;
    right: 5%;
    flex-direction: column;
    position: relative;
}

a {
    font-size: 1.2rem;
    margin-bottom: 15px; /* Adjust the spacing as needed */
    /* text-decoration: none; Optional: Remove underline from links */
    color: #b70404; /* Optional: Set link color */
}
.href-div a:last-child {
    margin-bottom: 0; /* Remove margin from the last link */
}